.grid-cont{
  padding: 20px;
}

/* .paper{
  padding: 10px;
  text-align: center;

}

.outer1{
  background-color: black;
}

.landing-grid {
  display: flex;
  background: pink;
  justify-content: center;
  min-height: 76.6vh;
}

.topmessage{
  background-color: green;
} */
