body{
  background-color: #FFFFFF;
  color: #3f51b5;
  position: center;
}

.mybutton{
  background-color: green;
  color: green;
}
h2{
  text-align: center;
}

h4{
  text-align: center;
}
div{
  align-items: center;
  position: center;

}

.sidegraph{
  display: flex;
  font-size: small;
  justify-content: center;
}
#blankspace{
  width: 40px;
}

#chartbox{
display: flex;
justify-content: center;
}

#chart{
  width: 100px;
}
.root{
display: flex;
justify-content: center;
  }
.datapaper{
  width: 600px;
}
.dropdown{
  padding: 500px;
  margin-right: 100px;
  padding-right: 200px;

}
.table{
  display: flex;

  align-content: center;
  justify-content: center;
  color: black;
}
.showbutton{
  display: flex;

  justify-content: center;
}
.topgraphbar{
    background-color: #3f51b5;
    width: 600px;
    display: flex;
    justify-content: center;
}
